[submodule "2014-rain-of-biscuits"]
	path = 2014-rain-of-biscuits
	url = https://github.com/jowpavan/2014-rain-of-biscuits
[submodule "2015-memory-game"]
	path = 2015-memory-game
	url = https://github.com/jowpavan/2015-memory-game
[submodule "2016-rain-of-tacs"]
	path = 2016-rain-of-tacs
	url = https://github.com/jowpavan/2016-rain-of-tacs
[submodule "2017-prize-eater"]
	path = 2017-prize-eater
	url = https://github.com/jowpavan/2017-prize-eater
